.container {
    background-image: url(../images/background-image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 16px;

}

.liniear {
    border-radius: 16px;
    background-image:


}

.new-year {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
}

.party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}

/* section two  */

.off {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#deals {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#categories {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image-cut {
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 398px;
}

#off-section {
    margin: auto;
}

/* welcome section  */
.welcome-image {
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: auto;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
    padding-bottom: 0px;
}

#dolor {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
    padding-top: 24px;
}

.place-data {
    width: 1320px;
    height: 482px;
    padding-left: 140px;
    height: 482px;
    width: 1320px;
    height: 482px;
    margin: auto;
}

.container-data {}

span {
    color: #F00;
}

#dolor {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;


}

.container-place {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 482px;
    padding-top: 100px;
    margin: auto;

}

button {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    stroke: none;
}


#paddin {
    padding: 120px;
}

#padding {
    padding-top: 120px;
}

.offer-plaece {
    width: 1320px;
    display: flex;
    justify-content: space-around;
    padding: 120px;
    margin: auto;
}

.container-funtion {
    text-align: center;
}

.funtional {
    text-align: center;
    font-size: 72px;
    font-style: normal;

}

.awesome-portfolio {
    text-align: center;
}

#awesome-image {
    margin: auto;
}

.subcribe-seetion {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
}

.subscrib {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
    padding: 120px;
}

input {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

subs {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
}